@import "../static/styles/base.scss";

.hero {
    max-width: 100%;
    box-sizing: border-box;
    .hero__logo {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 350px;
        &:hover {
            cursor: pointer;
        }
    }
}

.categories {
    position: absolute;
    left: 8vw;
    width: 20vw;
    min-width: 200px;
    ul {
        border: 2px solid $primary-color;
        border-radius: 5px;
    }
    li {
        padding: 0.5em 2em;
        &:hover {
            cursor: pointer;
            background: $primary-color;
            color: white;
        }
    }
}

.category__button {
    max-width: 50px;
    width: 5vw;
    min-width: 30px;
    height: auto;
    &:hover {
        cursor: pointer;
    }
}