@font-face {
    font-family: 'Roboto-Regular';
    src: url("static/styles/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("static/styles/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url("static/styles/fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("static/styles/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url("static/styles/fonts/Montserrat/Montserrat-Italic.ttf");
}