@import "reset.scss";
@import "typography.scss";
@import "variables.scss";
@import "star-rating/star-rating.scss";

* {
    color: $basic-color;
}


h1 {
    font-size: 2em;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.card {
    width: 20%;
    max-width: 250px;
    box-sizing: border-box;
    margin: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid lightgray;
    font-size: 16px;
    font-weight: 600;
    // border-bottom: 1px solid lightgray;
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
     p {
         text-align: center;
         margin-bottom: 10px;
         height: 32px;
     }
}

.card__price {
    padding: 1em 1.2em;
    margin-top: 12px;
    border: 3px solid $secondary-color;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
    }
}

.card__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__content *{
    margin-bottom: 5px;
}

.rating-box {
    color: #f0f0f0;
    text-shadow: 0px 1px 10px rgb(241, 241, 241);
    height: 3rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
}

